Package: cli-qbit
Version: __VERSION__
Section: utils
Priority: optional
Architecture: __ARCH__
Maintainer: Qbit CLI <maintainers@qbit-click.example>
Description: Qbit CLI
 Command-line tool for Qbit workflows.
 
